<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PVSWebApiUrl" value="http://localhost:16188/api/" />
    <add key="PVSAppKey" value="4d53bce03ec34c0a911182d4c228ee6c" />
    <add key="PVSHMACKey" value="A93reRTUJHsCuQSHR+L3GxqOJyDmQpCgps102ciuabc=" />
    <add key="PVSEncryptKey" value="k6KUvMXYy2I6J5y5hTTgsqG8E2VDL64JhFtPjBB//sU=" />
    <add key="PVSScheme" value="pvss" />
    <add key="PVSNonce" value="N" />
  </appSettings>
</configuration>